venv/*
*.pyc

hardawre/assemblies/times.txt
hardware/assemblies/*_diff.png
hardware/assemblies/times.txt

bom/
deps/
dxfs/

hardware/stls/*.stl
hardware/stls/*_diff.png
hardware/stls/*.json
hardware/stls/*.txt

*.log
*.echo

*.html
